/* App.css */

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 250px; /* Ajusta el ancho del sidebar según tu preferencia */
    overflow-y: auto;
    background-color: #f8f9fa; /* Color de fondo del sidebar */
  }
  
  .content-col {
    margin-left: 250px; /* Ancho del sidebar */
    padding: 20px;
  }
  
  .no-gutters {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    padding: 0;
  }
  
  .sidebar .navbar {
    border-bottom: 1px solid #dee2e6;
  }
  
  .nav-link {
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: #e9ecef;
  }